@import "tailwindcss";
@import "@heroui/styles"; 


:root {
  --background: #3a3b3d;
  --foreground: #111111;
}

.dark {
  --background: #111111;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}